@font-face {
  font-family: "bitbit";
  src: url("https://cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff"),
    url("https://cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2");
}
@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
